NEXT_PUBLIC_SUPABASE_URL=https://YOUR_PROJECT_REF.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key

NEXT_PUBLIC_WHATSAPP_NUMBER=5521964829407
NEXT_PUBLIC_PIX_KEY=42.252.288/0001-31
NEXT_PUBLIC_PIX_NAME=MINISTERIO RECARGA
